﻿@using task22.Models
@model Picture

@{
    ViewData["Title"] = "Dog?";
}

<div class="text-center">
    <h1 class="display-4">Dog!</h1>
    <!--@Model.source<br>-->
    <input type="button"
           value="Dog~"
           onclick="location.href='@Url.Action("Index", "Dog" )'" /><br />

    <img id="mainPicture"
         src=@Model.source
         style="max-height: 800px">
</div>