﻿@using task21.Models
@model Picture

<div class="text-center">
    <h1 class="display-4">Cats or dogs?</h1>
    @Model.source<br>
    <input type="button"
           value="Dog"
           onclick="location.href='@Url.Action("Index", "Home", new { choice = "Dog" } )'" />
    <input type="button"
           value="Cat"
           id="Cat"
           onclick="location.href='@Url.Action("Index", "Home", new { choice = "Cat" })'" /><br>

    <img id="mainPicture" src=@Model.source>
</div>
