﻿@using task22.Models
@model Picture

@{
    ViewData["Title"] = "Are you smarter than a basic AI?";
}

<div class="text-center">
    <h1 class="display-4">Cats or dogs?</h1>
    <h2>Current score: @ViewData["score"]/11 </h2>
    <!--@Model.source<br>-->
    <input type="button"
           value="Dog"
           onclick="location.href='@Url.Action("Index", "Home", new { choice = "Dog", existingGame = true } )'" />
    <input type="button"
           value="Cat"
           id="Cat"
           onclick="location.href='@Url.Action("Index", "Home", new { choice = "Cat", existingGame = true })'" /><br>

    <img id="mainPicture"
         src=@Model.source
         style="max-height: 800px">
</div>
