body {
    background-color: powderblue;
}

h1 {
    color: blue;
    border: 1px solid blue;
    padding: 30px;
    width: 110px;
    margin: 30px;
}

form {
    display: table;
}

p {
    display: table-row;
}

label {
    margin: 30px;
    display: table-cell;
}

input {
    margin: 10px;
    display: table-cell;
}
